---
const currentYear = new Date().getFullYear();
---

<footer>
  <div>
    <p>
      Designed and developed in Newcastle with <a href="https://astro.build/">Astro</a>
    </p>
    <p>&copy; {currentYear} Alex Walton<p></p></p>
  </div>
</footer>
