---
const textLinks: { label: string; href: string }[] = [
  { label: "Home", href: "/" },
  { label: "Work", href: "/work/" },
  { label: "Blog", href: "/blog/" },
];

function isCurrent(href: string): boolean {
  return Astro.url.pathname == href || (href.length > 1 && Astro.url.pathname.startsWith(href));
}
---

<nav>
  <ul>
    {
      textLinks.map(({ label, href }) => (
        <li>
          <a aria-current={isCurrent(href)} href={href}>
            {label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  a[aria-current] {
    font-weight: bold;
  }
</style>
